<h3>Enter a translation</h3>

<form action="/translate" method="GET">
    <input type="text" name="text" placeholder="your phrase here">
    <select name="lang">
        <option value="leetspeak">l33t</option>
        <option value="dothraki">dothraki</option>
        <option value="jive">jive</option>
        <option value="yoda">yoda</option>
        <option value="valspeak">valspeak</option>
    </select> 
    <input type="submit" value="Translate">
</form>